{% extends "base.html" %}
{% block title %}{{ prodotto.nome }}{% endblock title %}
{% block css_pagina %}
   /* img {
        width:800px;
        height:800px;
        object-fit: cover;
    }*/
    h1.titolo {
        font-weight:400;
        text-align:justify;
    }
    p.sottotitolo {
        font-weight:400 !important;
    }
{% endblock css_pagina %}
{% block contenuto %}
<!-- Open Content -->
<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img class="card-img img-fluid" src="{{ prodotto.img.url }}" alt="{{ prodotto.nome }}" id="product-detail">
                </div>
            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2 titolo text-success">{{ prodotto.nome }}</h1>
                        <p class="h3 py-2 sottotitolo">€ {{ prodotto.prezzo }}</p>
                        <p class="py-2">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
                        </p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Marca:</h6>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted"><strong>Easy Wear</strong></p>
                            </li>
                        </ul>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Categoria:</h6>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted"><strong>{{ prodotto.categoria }}</strong></p>
                            </li>
                        </ul>

                        <h6>Descrizione:</h6>
                        <p>{{ prodotto.descrizione|safe }}</p>
                            <!--<div class="row">
                                <div class="col-auto">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item text-right">
                                            Quantity
                                            <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                        </li>
                                        <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                                        <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                                        <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
                                    </ul>
                                </div>
                            </div>-->
                            <div class="row pb-3">
                                <div class="col d-grid text-center">
                                    <form action="{% url "cart:cart_add" prodotto.id %}" method="post">
                                        <tr>
                                            <th><label for="id_quantita">Quantita:</label></th>
                                            <td>
                                              <select name="quantita" id="id_quantita">
                                                {% for i in max_buy  %}
                                                <option value="{{i}}">{{i}}</option>
                                                {% endfor %}
                                              </select>
                                            </td>
                                        </tr>
                                        <input type="hidden" name="override" id="id_override">
                                        {% csrf_token %}
                                        <input type="submit" value="Aggiungi al carrello" class="btn btn-success btn-lg">
                                    </form>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Content -->
{% endblock contenuto %}